@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav{
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hello{
color: #00A78E;
font-size: 1.65rem;
margin-bottom: 0%;
}
.navbar-brand {
  font-weight: bold;
}
.nav-link{
  margin-left: 7% !important;
  padding: 1% !important;
  color: #00A78E !important;
  font-size: 1.3rem !important;
  font-weight: bold !important;
}
.nav-link:hover{
  color: #8ea700 !important;
  background-color: greenyellow;
}
.home-content{
  padding-top: 0%;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
}
.home-content .text{
  max-width: 50%;
  /* padding-top: %; */
}
.name{
  font-weight: bolder;
  font-size: 5rem;
}
.topic{
  font-size: 2rem;
  font-weight: bold;
  color: #00A78E;
}
button{
  border-radius: 15px!important;
  color: white ;
  background-color: #00A78E;
  font-size: 1.5rem !important;
  padding: 10px;
}
.home p{
  font-size: 1.3rem;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .home-content img {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .home-content .text{
    max-width: 100%;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .home-content .text .btn{
    display: flex;
    justify-content: center;
    border: none;
  }
  .topic{
    font-size: 5vw;
    margin: 5% 0%;
  }
  .name{
    font-weight: bold;
    font-size: 3rem;
  }
}